*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: white;
	font-family: sans-serif;
	user-select: none;
	overflow: hidden;
}
.flex{
	display:flex;
}
.column{
	flex-direction:column;
}
.row{
	flex-direction:row;
}
.fullscreen{
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
}
.center{
	align-items: center;
	justify-content: center;
}