a
  text-decoration: none
  color: inherit

.flex-row, .flex-column
  display: flex

.middle-center
  display: flex
  justify-content: center
  align-items: center

.stretch-center
  display: flex
  justify-content: center
  align-items: stretch

.fill-screen
  width: 100%
  height: 100vh

.fill-box
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: absolute

.full-screen
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  position: fixed

.page-enter-active, .page-leave-active
  transition: opacity 0.2s

.page-enter, .page-leave-to
  opacity: 0