html
  scroll-behavior: smooth

*
  user-select: none
  user-drag: none
  -webkit-user-drag: none
  -webkit-touch-callout: none
  -webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6, .title, th
  font-family: 'Title', 'Title TC', serif!important
  font-weight: 600
  color: var(--mantine-color-dark-0)

span, p, a, li, button, input, textarea, label, pre, code, td
  font-family: 'Context', 'Context TC', serif!important
  font-weight: 500
  color: var(--mantine-color-dark-0)

a
  text-decoration: none
  &:hover
    text-decoration: none
    color: var(--mantine-color-accent-0)

.header a:hover
  background-color: #EEEEEE

pre, code
  overflow-x: auto
  white-space: pre-wrap

video
  display: block
  max-height: 100%
  max-width: 100%

.icon-hover
  color: var(--mantine-color-dark-0)
  cursor: pointer
  margin-right: 8px
  transition: color 250ms
  &:hover
    color: var(--mantine-color-accent-0)
