extends /layout.pug

mixin collection(type, typeName, collections)
  .pb-4
  .row.head-wrapper.flex-wrap.mb-3
    .col-12.text-center
      h3.worktype-name= typeName
    .col-12: hr.mb-0
  for work in collections
    .row.work.my-2.py-2
      .col-md-10.col-8= work.name
      .col-md-1.col-2.text-center
        if work.youtube
          a.youtube(href=work.youtube target="_blank")
            include icons/youtube.html
      .col-md-1.col-2.text-center
        if work.musescore
          a.musescore(href=work.musescore target="_blank")
            include icons/musescore.html

block title
  title 哈洛斯音樂作品集 | Harlos Music Collection
block content
  link(rel="stylesheet" href="/collection.css")
  #collection.container
    link(rel="stylesheet" href="/collection.css")
    .wrapper.position-relative
      #back.position-absolute.top-0.start-0.p-4.text-center
        a(href="/"): include icons/back.html
      .pb-4
      .row.head-wrapper.flex-wrap.mb-3
        .col-12.text-center
          h2.worktype-name
            | #[:t(lang="zh-TW") index.collection]
            br
            small: span #[:t(lang="en") index.collection]
      for collectionType in collectionTypes
        +collection(
          collectionType,
          t('music.' + collectionType, 'zh-TW') + ' | ' + t('music.' + collectionType, 'en'),
          collections.filter(w => w.type === collectionType)
        )