
#commission-zh
  .inline-icon
    svg
      width: 1.25em
      height: 1.25em
  h2, h3
    padding: 1rem 0
    margin: 1rem 0
    border-bottom: #FFFFFF99 solid 1px
  ul
    margin: 0
    padding-left: 30px
  li
    margin: .5rem 0
  a
    color: #999999
  .alert-warning
    background-color: #856404
    color: #fff3cd
    border-color: #ffeeba
    a
      color: #00BBBB
  .list-group
    .list-group-item
      border-color: #DDDDDD
      h5
        margin-top: .5rem
    .list-group-item-primary
      background-color: #002042
      color: #b8daff
    .list-group-item-warning
      background-color: #423202
      color: #fff3cd
    .list-group-item-success
      background-color: #0A2B12
      color: #c3e6cb
    .list-group-item-info
      background-color: #062A30
      color: #bee5eb
  .table-wrapper
    overflow-x: auto
    table
      min-width: 992px
      margin-bottom: 0
      table-layout: fixed
      td, th
        border-color: #999999
        align-content: center
        justify-content: center