extends /layout.pug
block title
  title 哈洛斯音樂委託 | Harlos Music Commission
block content
  link(rel="stylesheet" href="/commission.css")
  #commission.container
    .wrapper.position-relative
      #back.position-absolute.top-0.start-0.p-4.text-center
        a(href="/"): include icons/back.html
      #lang-switch.position-absolute.top-0.end-0.p-4.text-center
        #to-zh(style="cursor: pointer") 中
        #to-en.ms-3(style="cursor: pointer") En
      h2.text-center
        | #[:t(lang="zh-TW") commission.harlosMusicCommission]
        br
        small #[:t(lang="en") commission.harlosMusicCommission]
      script.
        document.addEventListener('DOMContentLoaded', function() {
          const lang = navigator.language || navigator.userLanguage || 'en'
          const commissionEn = document.getElementById('commission-en')
          const commissionZh = document.getElementById('commission-zh')
          const toZh = document.getElementById('to-zh')
          const toEn = document.getElementById('to-en')
          const switchToZh = function() {
            commissionEn.style.display = 'none'
            commissionZh.style.display = 'block'
            toEn.style.display = 'block'
            toZh.style.display = 'none'
          }
          const switchToEn = function() {
            commissionEn.style.display = 'block'
            commissionZh.style.display = 'none'
            toEn.style.display = 'none'
            toZh.style.display = 'block'
          }
          if (lang === 'zh-TW') switchToZh()
          else switchToEn()
          toEn.addEventListener('click', switchToEn)
          toZh.addEventListener('click', switchToZh)
        })
      div#commission-zh(style="display: none;")
        include commission.zh.pug
      div#commission-en(style="display: none;")
        include commission.en.pug
