form#price-tool-zh.price-tool
  .row
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.commissionType]
    .col-12.col-md-9
      input.original.form-check-input(type="radio" name="original" value="true" checked)
      label.form-check-label(for="original") #[:t(lang="zh-TW") priceTool.original]
      input.arrange.form-check-input(type="radio" name="original" value="false")
      label.form-check-label(for="arrange") #[:t(lang="zh-TW") priceTool.arrangement]
  .row.pb-4
    .col-12.col-md-3.py-2
    .long.col-12.col-md-9
      span
        input.commercial.none.form-check-input(type="radio" name="commercial" value="none" checked)
        label.form-check-label(for="none") #[:t(lang="zh-TW") priceTool.none]
      span.commercial-personal
        input.commercial.form-check-input(type="radio" name="commercial" value="personal")
        label.form-check-label(for="personal") #[:t(lang="zh-TW") priceTool.personal]
      span.commercial-full
        input.commercial.form-check-input(type="radio" name="commercial" value="full")
        label.form-check-label(for="full") #[:t(lang="zh-TW") priceTool.full]
      span
        input.perpetual.form-check-input.d-inline-block(type="checkbox" name="perpetual")
        label(for="perpetual") #[:t(lang="zh-TW") priceTool.perpetual]
  .row.pb-4
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.musicType]
    .col-12.col-md-9
      select.commission-type.form-select(name="commission-type" value="piano")
        option(value="piano" selected) #[:t(lang="zh-TW") priceTool.piano]
        option(value="orchestra") #[:t(lang="zh-TW") priceTool.orchestra]
        option(value="pop") #[:t(lang="zh-TW") priceTool.pop]
        option(value="other") #[:t(lang="zh-TW") priceTool.other]
  .other.row.pb-4
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.trackCount]
    .col-12.col-md-9
      input.tracks.form-control(type="number" name="tracks" min="1" max="20" step="1" value="5")
  .row.pb-4
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.musicLength]
    .col-12.col-md-9
      input.minutes.form-control(type="number" name="minutes" min="0.5" max="15" step="0.5" value="3")
  .row.pb-4
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.currency]
    .col-12.col-md-9
      input.currency.form-check-input(type="radio" name="currency" value="ntd" checked)
      label.form-check-label(for="ntd") #[:t(lang="zh-TW") priceTool.ntd]
      input.currency.form-check-input(type="radio" name="currency" value="usd")
      label.form-check-label(for="usd") #[:t(lang="zh-TW") priceTool.usd]
  .row.pb-4
    .col-12.col-md-3.py-2 #[:t(lang="zh-TW") priceTool.estimatedPrice]
    .col-12.col-md-9: h4.total

  style.
    #price-tool-zh input,
    #price-tool-zh select {
      background-color: black;
      color: white;
    }
    #price-tool-zh .row {
      align-items: center;
    }
    #price-tool-zh label {
      margin: 0 1rem 0 .5rem;
    }
    @media (max-width: 575px) {
      #price-tool-zh .long {
        display: flex;
        flex-direction: column;
      }
    }

  include pricetool.js.pug
  +PriceTool('zh')
