/* GENERAL */
span.green {
	color: #33CC33;
}

span.red {
	color: #FF6666;
}

body>.wrap{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.button{
	cursor: pointer;
}

/* TOP-SCREEN */
#topscreen {
	flex: 1 1 calc(100vh - 9vw);
	position: relative;
	padding-bottom: 2vw;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 200ms;
	padding: 1vw 2vw 3vw 2vw;
	z-index: -50;
}

.page.show {
	opacity: 1;
	z-index: 50;
}

.page .title{
	font-size: 2em;
	font-weight: bold;
	margin: .3em 0;
	text-align: center;
}

.page .footer {
	color: #666666;
	text-align: center;
	font-size: .7em;
	margin: 1em 0;
}

/* BACKGROUNDS */
.page>.bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	opacity: 0;
	transition: all 500ms;
	z-index: -50;
}

#home>.bg {
/*	background-image: url('pic/head4.jpg');*/
	background-position: right center;
}

#code>.bg {
/*	background-image: url('pic/head7.jpg');*/
	background-position: bottom center;
}

#music>.bg {
/*	background-image: url('pic/head2.jpg');*/
	background-position: left center;
}

#photo>.bg {
/*	background-image: url('pic/head8.jpg');*/
	background-position: center;
}

#timeline>.bg {
/*	background-image: url('pic/head3.jpg');*/
	background-position: left center;
}

#diary>.bg {
/*	background-image: url('pic/head6.jpg');*/
	background-position: center;
}

.page>.bg>.filter {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}

/* HOME */
#home {
	left: 0;
}

#profile {
	flex: 6 0 0;
}

#log {
	flex: 0 0 0;
	max-height: 100%;
	color: rgba(255,255,255,.6);
	text-align: left;
	font-size: 8pt;
	font-family: monospace;
	margin: 20px 0 50px 0;
	overflow: auto;
	transition: all 500ms;
	z-index: 10;
}

#log table th {
	padding: 8px 5px;
}

#log table td {
	padding: 4px 5px;
}

#log table th:first-child,
#log table td:first-child {
	text-align: right;
	min-width: 110px;
}

#log table th:last-child,
#log table td:last-child {
	text-align: left;
	min-width: 190px;
}

#headpic {
	width: 35vmin;
	height: 35vmin;
	border-radius: 50%;
	overflow: hidden;
/*	box-shadow: white 0 0 100px 10px;*/
/*	animation: boxglow 5s infinite;*/
/*	background-image: url('pic/head1.jpg');
	background-size: cover;
	background-position: top center;*/
	transition: transform 750ms, opacity 750ms;
	opacity: 0;
	transform: scale(0.7);
}

#headpic>img {
	height: 100%;
}

@keyframes boxglow {
	from {box-shadow: rgba(255,255,255,.8) 0 0  50px  0px;}
	50%  {box-shadow: rgba(255,255,255,.8) 0 0 200px 50px;}
	to   {box-shadow: rgba(255,255,255,.8) 0 0  50px  0px;}
}

#name {
	padding-top: 4vh;
	text-align: center;
	font-size: 24pt;
	font-family: serif;
}


/* CODE */
#code {
	text-align: center;
}

/* MUSIC */
#music {
	text-align: center;
}

/* PHOTO */
#photo {
	text-align: center;
}

/* TIMELINE */
#timeline {
	text-align: center;
}

/* DIARY */

#diary>.list {
	height: 100%;
	width: 80%;
	max-width: 1000px;
	margin: 0 10%;
	flex-wrap: wrap;
	opacity: 1;
	transition: opacity 300ms;
}

#diary>.list.hide {
	opacity: 0;
}

#diary>.list>.wrapper {
	overflow-y: auto;
	flex: 1 0 0;
}

#diary>.list>.wrapper>.item {
	margin: 2vw;
	padding: .5em 1em;
	background-color: rgba(0,0,0,.7);
	position: relative;
}

#diary>.list>.wrapper>.item>.diarytitle {
	font-size: 1.5em;
}

#diary>.list>.wrapper>.item>.diarytime {
	font-family: monospace;
	color: #777;
	position: absolute;
	right: 1em;
	top: 1em;
}

#diary>.content {
	position: absolute;
	width: calc(100% - 4vw);
	height: calc(100% - 4vw);
	transform: scale(.7);
	overflow-y: auto;
	opacity: 0;
	z-index: -10;
	transition: transform 300ms,
	            opacity   300ms;
}

#diary>.content.show {
	transform: scale(1);
	opacity: 1;
	z-index: 10;
}

#diary>.content>.wrapper {
	width: 100%;
	padding: 0 2vw;
}

#diary>.content>.back {
	position: absolute;
	top: 1vw;
	right: 2vw;
	width: 40px;
	height: 40px;
	background-color: #999999;
}

/* BOTTOM BAR */
#bottombar {
	flex: 1 0 auto;
	z-index: 140;
	user-select: none;
}

/* NAVIGATION BAR */
#navbar {
	position: relative;
	width: 100%;
	height: 2vw;
}

#navbar #line {
	position: absolute;
	bottom: -1.1vw;
	left: -2%;
	width: 104%;
	height: .3vw;
	background-color: white;
	box-shadow: white 0   0   .5vw .2vw,
	            white 0 -.5vw  2vw .2vw;
	opacity: 0.7;
}

#navbar .button {
	flex: 0 0 12vw;
	text-align: center;
	font-family: serif;
	font-size: 1.25vw;
	position: relative;
	padding: 0 1vw;
}

#navbar .buttonbg,
#navbar .activebg {
	height: 12vw;
	width: 100%;
	position: absolute;
	bottom: -5vw;
	left: 0;
	background-image: url('pic/button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: brightness(100%);
	backface-visibility: hidden;
	opacity: 0;
	transition: opacity  300ms,
	            filter  1500ms;
}

#navbar .button:hover>.buttonbg {
	filter: brightness(160%);
	opacity: 1;
	animation: buttonglow 3s infinite;
}

@keyframes buttonglow {
	from {filter: brightness(100%);}
	50% {filter: brightness(160%);}
	to {filter: brightness(100%);}
}

#navbar .activebg {
	filter: hue-rotate(-45deg);
}

#navbar .activebg.show {
	opacity: .7;
}

/* INFOBAR */
#infobar {
	width: 100%;
	height: 6vw;
	padding: 2vw 1vw .5vw 1vw;
	align-items: center;
	justify-content: space-between;
}

#backhome {
	position: relative;
	padding-left: 1vw;
	font-size: 2vw;
	font-family: serif;
	opacity: 0;
	transition: text-shadow 300ms,
	            opacity     300ms;
	z-index: -50;
}

#backhome:hover {
	text-shadow: white 0 0 20px;
}

#backhome.show{
	opacity: 1;
	z-index: 140;
}

#time {
	position: absolute;
	width: calc(100% - 2vw);
	font-size: 1.7vw;
	text-align: center;
}

#time>div{
	display: inline-block;
	margin: 0 .5vw;
}

#loginfo {
	position: relative;
	font-family: monospace;
	font-size: 1vw;
	text-align: right;
	color: rgba(192,192,192,.3);
	transition: color 200ms;
}

#loginfo:hover {
	color: rgba(255,255,255,.6);
}