/*MAIN BACKGROUND*/
#main-background>.filter{
	position: absolute;
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,0.7);
}
#main-background>#homebg{
	left:0;
}
#main-background>.bg{
	height:100%;
	width:100%;
	position: absolute;
	left:10vw;
	opacity: 0;
	transition: all 500ms;
	background-size: cover;
	transform: scale(1.1);
}
#homebg{
	background-image: url('pic/head4.jpg');
	background-position: right center;
}
#codebg{
	background-image: url('pic/head7.jpg');
	background-position: bottom center;
}
#musicbg{
	background-image: url('pic/head2.jpg');
	background-position: left center;
}
#photobg{
	background-image: url('pic/head8.jpg');
	background-position: center;
}
#timelinebg{
	background-image: url('pic/head3.jpg');
	background-position: left center;
}
#diarybg{
	background-image: url('pic/head6.jpg');
	background-position: center;
}

/*PAGES*/
#home{
	left:0;
}
.page{
	padding: 10px;
	opacity: 0;
	transition: all 500ms;
	left:10vw;
}
.page>.wrapper{
	height:calc(100% - 70px);
}

/*HOMEPAGE*/
#profile{
	flex: 6 0 0;
}
#log{
	flex: 0 0 0;
	max-height: 100%;
	color:rgba(255,255,255,.6);
	text-align: left;
	font-size: 8pt;
	font-family: monospace;
	margin: 20px 0 50px 0;
	overflow:auto;
	transition: all 500ms;
	z-index: 10;
}
#log table th{
	padding: 8px 5px;
}
#log table td{
	padding: 4px 5px;
}
#log table th:first-child,
#log table td:first-child{
	text-align: right;
	min-width: 110px;
}
#log table th:last-child,
#log table td:last-child{
	text-align: left;
	min-width: 190px;
}
#headpic{
	width:35vmin;
	height:35vmin;
	border-radius: 50%;
	overflow: hidden;
/*	box-shadow: white 0 0 100px 10px;*/
/*	animation: boxglow 5s infinite;*/
/*	background-image: url('pic/head1.jpg');
	background-size: cover;
	background-position: top center;*/
	transition: transform 750ms, opacity 750ms;
	opacity: 0;
	transform: scale(0.7);
}
#headpic>img{
	height: 100%;
}
@keyframes boxglow{
	from{box-shadow: rgba(255,255,255,.8) 0 0 50px 0px;}
	50%{box-shadow: rgba(255,255,255,.8) 0 0 200px 50px;}
	to{box-shadow: rgba(255,255,255,.8) 0 0 50px 0px;}
}
#name{
	padding-top: 4vh;
	text-align: center;
	font-size: 24pt;
	font-family: serif;
}


/*NAVIGATION BAR*/
#navbar{
	position: absolute;
	bottom:0;
	width: 100%;
	height: calc(20vh + 50px);
	flex:1 0 0;
	padding: 0;
}
#navbar>*{
	width: 100%;
}
#navbar .button{
	flex:0 1 150px;
	text-align: center;
	font-family: serif;
	font-size: 12pt;
	position: relative;
	padding: 0 10px;
}
#navbar .buttonbg{
	height: 150px;
	width: 100%;
	flex:0 1 150px;
	position: absolute;
	bottom: -64px;
	left: 0;
	background-image: url('pic/button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: brightness(100%);
	backface-visibility: hidden;
	opacity:0;
	transition: all 300ms;
}
#navbar .button:hover>.buttonbg{
	filter: brightness(160%);
	opacity:1;
	animation: buttonglow 3s infinite;
}
@keyframes buttonglow{
	from{filter: brightness(100%);}
	50%{filter: brightness(160%);}
	to{filter: brightness(100%);}
}


#line{
	height: 5px;
	background-color: white;
	margin-top: 12px;
	box-shadow: white 0 0px 7px 3px,
		white 0 -8px 30px 3px;
	opacity: 0.7;
	pointer-events: none;
}
#line>.wrapper{
	height: 100%;
	width: 100%;
	overflow: visible;
}

/*LOG INFORMATION*/
#loginfo{
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	font-family: monospace;
	font-size: 8pt;
	text-align: right;
	color:rgba(192,192,192,.3);
	max-width: 50vw;
	transition: color 200ms;
}
#loginfo:hover{
	color: rgba(255,255,255,.6);
}