body{
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#filter{
	background-color: rgba(0,0,0,.6);
	z-index: 5;
}
#content{
	position:absolute;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	opacity: 1;
}
#content>.wrapper{
	margin: auto;
	padding: 20px;
	width: 90%;
	height: 100%;
	max-width: 720px;
	align-items: stretch;
}
#subtitle{
	font-weight: bold;
	font-size: 16pt;
	font-family: sans-serif;
}

#title{
	font-weight: bold;
	font-size: 40pt;
}
form{
	flex:1 0 0;
}

#question{
	width:100%;
	padding: 10px;
	flex:1 0 0;
}
#key{
	width: 80%;
}
#key>span{
	padding-right: 10px;
}
#key>input{
	flex: 1 0 0;
	padding: 5px;
}
#find{
	padding: 5px 10px;
	margin: 0 0 0 10px;
}
#send{
	width:200px;
	padding: 10px;
	font-size: 125%;
}

#list{
	position:absolute;
	width: 100vw;
	z-index: -5;
	opacity: 0;
	font-size: 12pt;
}
#list>.wrapper{
	margin: auto;
	padding: 20px;
	width: 90%;
	height: 100%;
	max-width: 960px;
	align-items: stretch;
}

#table{
	width: 100%;
	background-color: rgba(0,0,0,.3);
}

#table>div>div>*{
	border: 1px solid #555;
	padding: .5em;
}
#head>div>div{
	flex:1 0 0;
}
#table-content>div{
	align-items: stretch;
}
.time,.ansTime,#h-time,#h-ansTime{
	text-align: center;
	flex:0 0 120px;
}
.content,.answer,#h-content,#h-answer{
	flex:1 0 0;
}
#h-content,#h-answer{
	text-align: center;
}
.ansTime,#h-ansTime{
	order:3;
}
.answer,#h-answer{
	order:4;
}
#back{
	font-size: 16pt;
	padding: 5px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}
@media(max-width: 800px){
#list{
	font-size: 8pt;
}
.time,.ansTime,#h-time,#h-ansTime{
	text-align: center;
	flex:0 0 90px;
}
}
@media(max-width: 640px){
#subtitle{
	font-size: 12pt;
}

#key{
	width: 100%;
}

#title{
	font-size: 24pt;
}
#send{
	width:150px;
}
#content{
	height: 100vh;
	min-height: 120vw;
}
#table-content>div{
	flex-direction:column;
	align-items: stretch;
}
.time,.ansTime,#h-time,#h-ansTime{
	flex:0 0 auto;
}
.time>br,.ansTime>br{
	display: none;
}
.content,.answer,#h-content,#h-answer{
	flex:0 0 auto;
}
.content,#h-content,.time,#h-time{text-align: left;}
.answer,#h-answer,.ansTime,#h-ansTime{text-align: right;}
#table>div>div>*{
	border: none;
	padding: 3px;
}
#head{
	padding-bottom: 10px;
}
}

@media(max-width: 360px){
#subtitle{
	font-size: 8pt;
}

#title{
	font-size: 16pt;
}
#send{
	width:90px;
}
#content{
	height: 100vh;
	min-height: 150vw;
}
}