#commission-en .inline-icon svg {
  width: 1.25em;
  height: 1.25em;
}
#commission-en h2, #commission-en h3 {
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
}
#commission-en ul {
  margin: 0;
  padding-left: 30px;
}
#commission-en li {
  margin: 0.5rem 0;
}
#commission-en a {
  color: #999999;
}
#commission-en .alert-warning {
  background-color: #856404;
  color: #fff3cd;
  border-color: #ffeeba;
}
#commission-en .alert-warning a {
  color: #00BBBB;
}
#commission-en .list-group .list-group-item {
  border-color: #DDDDDD;
}
#commission-en .list-group .list-group-item h5 {
  margin-top: 0.5rem;
}
#commission-en .list-group .list-group-item-primary {
  background-color: #002042;
  color: #b8daff;
}
#commission-en .list-group .list-group-item-warning {
  background-color: #423202;
  color: #fff3cd;
}
#commission-en .list-group .list-group-item-success {
  background-color: #0A2B12;
  color: #c3e6cb;
}
#commission-en .list-group .list-group-item-info {
  background-color: #062A30;
  color: #bee5eb;
}
#commission-en .table-wrapper {
  overflow-x: auto;
}
#commission-en .table-wrapper table {
  min-width: 992px;
  margin-bottom: 0;
  table-layout: fixed;
}
#commission-en .table-wrapper table td, #commission-en .table-wrapper table th {
  border-color: #999999;
  align-content: center;
  justify-content: center;
}
#commission-en .table-wrapper table th.vertical {
  text-orientation: mixed;
  writing-mode: vertical-rl;
}
#commission-en .table-wrapper table th.vertical span.content {
  vertical-align: middle;
}