#commission {
  margin: 0 auto;
  padding: 5rem 0;
}
#commission #back svg {
  width: 1.5rem;
  height: 1.5rem;
}
#commission #lang-switch * {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.6) solid 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
#commission #lang-switch svg {
  width: 1.25em;
  height: 1.25em;
}
#commission .wrapper {
  padding: 1rem 1.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
#commission .wrapper > h2 {
  padding: 1rem 0;
  border-bottom: rgba(255, 255, 255, 0.6) solid 1px;
}